defaultContentLanguage = 'en'
pluralizeListTitles = false

[author]
  name = "Marcus Tellez"
[languages]
  [languages.en]
    title = 'DevmentorLive'
    weight = 1
[module]
  [module.hugoVersion]
    extended = true
    min = "0.87.0 "
    max = "0.111.3"
[markup]
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    hl_Lines = ''
    hl_inline = false
    lineAnchors = ''
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = true
    noHl = false
    style = 'monokai'
    tabWidth = 2