<div class="pointer-events-none absolute top-[100vh] bottom-0 w-12 ltr:right-0 rtl:left-0">
 <a href="#the-top" class="mb-16 flex items-center gap-2 pointer-events-auto sticky top-[calc(100vh-5.5rem)] whitespace-nowrap text-xs hover:text-primary-600  dark:text-neutral dark:hover:text-primary-400">Back to top <div
  class="ml-2 flex h-12 w-12 items-center justify-center rounded-full bg-neutral/50 text-xl backdrop-blur dark:bg-neutral-800/50 "
  aria-label="{{ i18n "nav.scroll_to_top_title" }}" title="{{ i18n "nav.scroll_to_top_title" }}">
  &uarr;
</div></a>
</div>