<article class="prose max-w-full dark:prose-invert">
  <div class="relative">
    <div class="bg-gray-100 absolute inset-x-0 bottom-0 h-1/2"></div>
    <div class="mx-auto max-w-7xl p-0">
      <div class="relative rounded-2xl shadow-xl sm:overflow-hidden">
        <div class="absolute inset-0">
          {{ $homepageImage := "" }} {{ with .Site.Params.defaultBackgroundImage
          }}{{ $homepageImage = resources.Get . }}{{ end }} {{ with
          .Site.Params.homepage.homepageImage }}{{ $homepageImage =
          resources.Get . }}{{ end }} {{ if $homepageImage }}
          <img
            class="nozoom m-0 h-full w-full object-cover"
            src="{{ $homepageImage.RelPermalink }}"
            alt="Page background image depicting AI"
          />
          <div
            class="absolute inset-0 bg-gradient-to-r from-primary-500 to-secondary-700 mix-blend-multiply dark:from-primary-600 dark:to-secondary-800"
          ></div>
          {{ end }}
        </div>
        <div
          class="relative flex flex-col items-center justify-start px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32"
        >
          {{ with .Site.Author.image }} {{ $authorImage := resources.Get . }} {{
          if $authorImage }} {{ $authorImage := $authorImage.Fill "288x288" }}
          <img class="mb-2 rounded-full h-36 w-36" width="144" height="144"
          alt="{{ $.Site.Author.name | default " Author" }}" src="{{
          $authorImage.RelPermalink }}" /> {{ end }} {{ end }}
          <h1 class="mb-2 text-4xl font-extrabold text-neutral-200">
            {{ if isset .Params "h1" }} {{.Params.H1 | emojify}} {{else}} {{
            .Site.Author.name | default .Site.Title }} {{end}}
          </h1>
          {{ with .Site.Author.headline }}
          <h2 class="mb-0 mt-0 text-xl text-neutral-300">
            {{ . | markdownify | emojify }}
          </h2>
          {{ end }}
          <div class="mb-10 mt-1 text-2xl">
            {{ with .Site.Author.links }}
            <div class="flex flex-wrap">
              {{ range $links := . }} {{ range $name, $url := $links }}
              <a
                class="px-2 text-primary-300 hover:text-primary-400"
                href="{{ $url }}"
                target="_blank"
                aria-label="{{ $name | title }}"
                rel="me noopener noreferrer"
                >{{ partial "icon.html" $name }}</a
              >
              {{ end }} {{ end }}
            </div>
            {{ end }}
          </div>
          <section class="">{{ .Content | emojify }}</section>
        </div>
      </div>
    </div>
  </div>
</article>
<section>{{ partial "recent-articles/main.html" . }}</section>
